.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f58f3d;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: var(--gap);
  height: 100px;
}

.loading span {
  width: 4px;
  height: 50px;
  border-radius: 999px;
  transform-origin: center bottom;
  background: var(--first-color);
  animation: loading-bars-scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
}

.loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
}

.loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
}

.loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
}

[data-theme="dark"] .loading {
  --first-color: #8db0ff;
  --second-color: #69d394;
  --third-color: #ffd65c;
  --fourth-color: #ffbc79;
  --fifth-color: #74d4ff;
}

@keyframes loading-bars-scale {
  0%,
  100% {
    transform: scaleY(0.08);
  }

  20% {
    transform: scaleY(1);
  }
}
